/* CSS for extra large devices (1200px and up) */
@media (min-width: 1200px) {
  body {
    margin: 0;
  }

  /* .container {
    box-sizing: border-box;
  }

  * { 
    box-sizing: border-box;
  } */

  /* -------------------------- */
  /* --------- Header --------- */
  /* -------------------------- */

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-top: 14px;
    margin-left: 4.3%;
  }

  .navbar {
    display: flex;
    justify-content: end;
    list-style-type: none;
  }

  .navbar > li {
    margin: 0px 10px;
    font-size: 18px;
  }

  .navbar > li > a {
    color: white;
    text-decoration: none;
  }

  /* -------------------------- */
  /* -- Hero Image & Content -- */
  /* -------------------------- */

  .hero {
    height: 846px;
  }

  #hero-tagline {
    font-size: 56pt;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  #hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 96px;
  }

  #hero-text {
    font-size: 20pt;
    padding-right: 100px;
    padding-left: 100px;
    font-weight: lighter;
    line-height: 1.5;
    width: 50%;
  }

  #hero-img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
    width: 100%;
    overflow: hidden;
  }

  #blue-hero-tint {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    overflow: hidden;
  }

  .btn {
    background-color: Transparent;
    border: 2px solid #ffffff;
    font-size: 18pt;
    color: white;
    font-weight: lighter;
  }

  #hero-btn {
    width: 30%;
  }

  /* -------------------------- */
  /* -- iPad & iPhone Images -- */
  /* -------------------------- */

  #ipad-image {
    z-index: 1;
  }

  #iphone-image {
    z-index: 2;
    position: relative;
    left: 280px;
    bottom: 400px;
  }

  /* -------------------------- */
  /* ----- About Section ------ */
  /* -------------------------- */

  .about {
    height: 262px;
  }

  #about-tagline {
    display: flex;
    justify-content: center;
    font-size: 44pt;
    color: #89b8ea;
    margin-top: 100px;
    margin-bottom: 0px;
  }

  #about-text {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
  }

  #about-icons {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
  }

  /* -------------------------- */
  /* ---- Careers Section ----- */
  /* -------------------------- */

  .careers {
    height: 284px;
  }

  #careers-image {
    width: 100%;
    position: absolute;
    z-index: -2;
    height: 284px;
  }

  #grey-career-tint-1 {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 284px;
  }

  #careers-text {
    color: #ffffff;
    font-size: 44pt;
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }

  #careers-btn {
    position: relative;
    left: 512px;
    display: flex;
    justify-content: center;
    width: 256px;
  }

  /* -------------------------- */
  /* ----- Video Section ------ */
  /* -------------------------- */

  .video {
    height: 734px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 96px;
    left: 155px;
    width: 1125px;
  }

  #video-preview {
    height: 542px;
    width: 970px;
  }

  /* -------------------------- */
  /* ------ Map Section ------- */
  /* -------------------------- */

  .map {
    height: 524px;
  }

  #map-image {
    width: 100%;
  }

  #map-location-box {
    position: relative;
    bottom: 450px;
    left: 150px;
    max-width: 1050px;
  }

  #map-box-text {
    width: 250px;
    height: 300px;
    position: relative;
    bottom: 350px;
    left: 30px;
    color: white;
  }

  #map-box-tagline {
    font-size: 30pt;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  /* -------------------------- */
  /* ----- Form Section ------- */
  /* -------------------------- */

  .contact {
    height: 608px;
  }

  #form-tagline {
    display: flex;
    justify-content: center;
    font-size: 44pt;
    margin-bottom: 0px;
    color: #89b8ea;
  }

  #form-text {
    display: flex;
    justify-content: center;
    font-size: 20pt;
    font-weight: lighter;
    margin-top: 0px;
  }

  .form-line {
    display: flex;
    justify-content: center;
  }

  #form-name-input {
    width: 400px;
    height: 45px;
    font-size: 20pt;
    font-weight: lighter;
    margin-right: 13px;
    margin-bottom: 30px;
  }

  #form-email-input {
    width: 400px;
    height: 45px;
    font-size: 20pt;
    font-weight: lighter;
    margin-left: 13px;
    margin-bottom: 30px;
  }

  #form-superpower-input {
    width: 830px;
    height: 45px;
    font-size: 20pt;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  #form-message-input {
    width: 830px;
    height: 225px;
    font-size: 20pt;
    font-weight: lighter;
  }

  #form-submit-btn {
    background-color: Transparent;
    border: 1px solid #808080;
    font-size: 14pt;
    font-weight: lighter;
    margin-top: 30px;
    width: 165px;
    height: 40px;
  }
  /* -------------------------- */
  /* --------- Footer --------- */
  /* -------------------------- */

  footer {
    height: 82px;
    width: 100%;
    background-color: #89b8ea;
  }
  #footer-text {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    color: #ffffff;
  }

  /* -------------------------- */
  /* ----- Text and Fonts ----- */
  /* -------------------------- */

  .helvetica {
    font-family: Helvetica, sans-serif;
  }

  .adelle {
    font-family: adelle, sans-serif;
  }

  .text-white {
    color: rgb(255, 255, 255);
  }
}
