/* CSS for medium devices (768px and up) */
@media (min-width: 768px) {
    body {
        margin: 0;
      }
    
      /* .container {
        box-sizing: border-box;
      }
    
      * { 
        box-sizing: border-box;
      } */
    
      /* -------------------------- */
      /* --------- Header --------- */
      /* -------------------------- */
    
      .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    
      .logo {
        margin-top: 14px;
        margin-left: 4.3%;
      }
    
      .navbar {
        display: flex;
        justify-content: end;
        list-style-type: none;
      }
    
      .navbar > li {
        margin: 0px 10px;
        font-size: 18px;
      }
    
      .navbar > li > a {
        color: white;
        text-decoration: none;
      }
    
      /* -------------------------- */
      /* -- Hero Image & Content -- */
      /* -------------------------- */
    
      .hero {
        height: 500px;
      }
    
      #hero-tagline {
        font-size: 26pt;
        font-weight: normal;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
      }
    
      #hero-content {
        display: flex;
        /* flex-direction: row; */
        /* justify-content: space-between; */
        position: relative;
        top: 30px;
      }
    
      #hero-text {
        font-size: 12pt;
        padding-left: 25px;
        font-weight: lighter;
        line-height: 1.10;
        width: 100%;
      }
    
      #hero-img {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -2;
        width: 100%;
        overflow: hidden;
      }
    
      #blue-hero-tint {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 100%;
        overflow: hidden;
      }
    
      .btn {
        background-color: Transparent;
        border: 2px solid #ffffff;
        font-size: 14pt;
        color: white;
        font-weight: lighter;
      }
    
      .btn:hover {
        background-color: white;
        border: 2px solid #ffffff;
        font-size: 14pt;
        color: grey;
        font-weight: lighter;
      }
    
      .btn:active {
        background-color: #ffffff;
        border: 2px solid #ffffff;
        font-size: 14pt;
        color: #ffffff;
        font-weight: lighter;
      }
    
      #hero-btn {
        
      }
    
      /* -------------------------- */
      /* -- iPad & iPhone Images -- */
      /* -------------------------- */
    
      #ipad-image {
        z-index: 1;
        height: 40%;
        width: auto;
        position: relative;
        left: 50px;
        display: inline;
      }
    
      #iphone-image {
        z-index: 2;
        position: relative;
        right: 50px;
        bottom: 20px;
        height: 28%;
        width: auto;
        display: inline;
      }
    
      /* -------------------------- */
      /* ----- About Section ------ */
      /* -------------------------- */
    
      .about {
        height: 240px;
      }
    
      #about-tagline {
        display: flex;
        justify-content: center;
        font-size: 24pt;
        color: #89b8ea;
        margin-top: 50px;
        margin-bottom: 0px;
      }
    
      #about-text {
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-weight: lighter;
        line-height: 1.25;
      }
    
      #about-icons {
        display: flex;
        justify-content: center;
        position: relative;
        top: 50px;
      }
    
      /* -------------------------- */
      /* ---- Careers Section ----- */
      /* -------------------------- */
    
      .careers {
        height: 250px;
      }
    
      #careers-image {
        width: 120%;
        position: absolute;
        z-index: -2;
        height: 250px;
        max-width: 768px;
      }
    
      #grey-career-tint-1 {
        width: 100%;
        position: absolute;
        z-index: -1;
        height: 250px;
      }
    
      #careers-text {
        color: #ffffff;
        font-size: 24pt;
        display: flex;
        justify-content: center;
        padding-top: 90px;
        margin-bottom: 25px;
      }
    
      #careers-btn {
        position: relative;
        left: 256px;
        display: flex;
        justify-content: center;
        width: 256px;
      }
    
      /* -------------------------- */
      /* ----- Video Section ------ */
      /* -------------------------- */
    
      .video {
        height: 420px;
        display: flex;
        justify-content: center;
        position: relative;
        top: 40px;
        left: 0px;
        width: 768px;
      }
    
      #video-preview {
        height: 350px;
        width: auto;
      }
    
      /* -------------------------- */
      /* ------ Map Section ------- */
      /* -------------------------- */
    
      .map {
        height: 380px;
      }
    
      #map-image {
        width: 100%;
      }
    
      #map-location-box {
        position: relative;
        bottom: 318px;
        left: 10px;
        max-width: 538px;
      }

      #map-box-image {
          width: 260px;
      }
    
      #map-box-text {
        width: 225px;
        height: 300px;
        position: relative;
        bottom: 325px;
        left: 20px;
        color: white;
      }
    
      #map-box-tagline {
        font-size: 22pt;
        margin-top: 30px;
        margin-bottom: 20px;
      }
    
      /* -------------------------- */
      /* ----- Form Section ------- */
      /* -------------------------- */
    
      .contact {
        height: 500px;
      }
    
      #form-tagline {
        display: flex;
        justify-content: center;
        font-size: 24pt;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #89b8ea;
      }
    
      #form-text {
        display: flex;
        justify-content: center;
        font-size: 12pt;
        font-weight: lighter;
        margin-top: 0px;
      }
    
      .form-line {
        display: flex;
        justify-content: center;
      }
    
      #form-name-input {
        width: 350px;
        height: 45px;
        font-size: 14pt;
        font-weight: lighter;
        margin-right: 13px;
        margin-bottom: 15px;
      }
    
      #form-email-input {
        width: 350px;
        height: 45px;
        font-size: 14pt;
        font-weight: lighter;
        margin-left: 13px;
        margin-bottom: 15px;
      }
    
      #form-superpower-input {
        width: 730px;
        height: 45px;
        font-size: 14pt;
        font-weight: lighter;
        margin-bottom: 15px;
      }
    
      #form-message-input {
        width: 730px;
        height: 225px;
        font-size: 14pt;
        font-weight: lighter;
      }
    
      #form-submit-btn {
        background-color: Transparent;
        border: 1px solid #808080;
        font-size: 14pt;
        font-weight: lighter;
        margin-top: 15px;
        width: 175px;
        height: 40px;
      }
    
      #form-submit-btn:hover {
        background-color: grey;
        color: white;
        border: 1px solid #808080;
        font-size: 14pt;
        font-weight: lighter;
        margin-top: 15px;
        width: 175px;
        height: 40px;
      }
    
      #form-submit-btn:active {
        background-color: #ffffff;
        color: white;
        border: 1px solid #808080;
        font-size: 14pt;
        font-weight: lighter;
        margin-top: 15px;
        width: 175px;
        height: 40px;
      }
    
      /* -------------------------- */
      /* --------- Footer --------- */
      /* -------------------------- */
    
      footer {
        height: 82px;
        width: 100%;
        background-color: #89b8ea;
        margin-top: 40px;
      }

      #footer-text {
        display: flex;
        justify-content: center;
        position: relative;
        top: 30px;
        color: #ffffff;
      }
    
      /* -------------------------- */
      /* ----- Text and Fonts ----- */
      /* -------------------------- */
    
      .helvetica {
        font-family: Helvetica, sans-serif;
      }
    
      .adelle {
        font-family: adelle, sans-serif;
      }
    
      .text-white {
        color: rgb(255, 255, 255);
      }
}