body{
    background-color: grey;
}

/* -------------------------- */
/* --------- Header --------- */
/* -------------------------- */

.menu {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 10px;
}

.logo {
    /* TODO: See if this would be better as a percentage */
    margin-top: 14px;
    /* 55/1280 = 4.29% */
    margin-left: 4.3%;
}

.navbar {
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.navbar > li {
    margin: 0px 10px;
    font-size: 18px;
}

.navbar > li > a {
    color: white;
    text-decoration: none;
}

/* -------------------------- */
/* -- Hero Image & Content -- */
/* -------------------------- */

#hero-tagline {
    font-size: 56pt;
    font-weight: normal;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

#hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

#hero-text {
    display: flex;
    flex-direction: column;
    padding: 100px;
    font-weight: lighter;
    line-height: 1.5;
}

/* #hero-images {
    display: flex;
    flex-direction: column;
} */

#hero-img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  width: 100%;
}

#blue-hero-tint {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
  }

/* -------------------------- */
/* -- iPad & iPhone Images -- */
/* -------------------------- */

#ipad-img {
z-index: 1;
}

#iphone-img {
z-index: 2;
position: relative;
left: 280px;
bottom: 400px
}

/* -------------------------- */
/* ----- Text and Fonts ----- */
/* -------------------------- */

.helvetica {
    font-family: Helvetica, sans-serif;
}

/* .helvetica-serif {
    font-family: Helvetica, "Times New Roman", serif;
} */

.adelle {
    font-family: adelle, sans-serif;
}

.text-white {
    color: rgb(255, 255, 255);
}