/* -------------------------- */
/* --------- Header --------- */
/* -------------------------- */

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.logo {
  /* TODO: See if this would be better as a percentage */
  margin-top: 14px;
  /* 55/1280 = 4.29% */
  margin-left: 4.3%;
}

.navbar {
  display: flex;
  justify-content: end;
  list-style-type: none;
}

.navbar > li {
  margin: 0px 10px;
  font-size: 18px;
}

.navbar > li > a {
  color: white;
  text-decoration: none;
}

/* -------------------------- */
/* -- Hero Image & Content -- */
/* -------------------------- */

#hero-tagline {
  font-size: 56pt;
  font-weight: normal;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

#hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

#hero-text {
  font-size: 20pt;
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 100px; */
  padding-right: 100px;
  padding-left: 100px;
  font-weight: lighter;
  line-height: 1.5;
  width: 50%;
  height: 800px;
}

#device-images {
  height: 800px;
}

#hero-img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
  width: 100%;
  overflow: hidden;
  /* max-height: 846px;
  max-width: 1280px; */
}

#blue-hero-tint {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  /* max-height: 846px;
  max-width: 1280px; */
}

.btn {
  background-color: Transparent;
  border: 2px solid #ffffff;
  font-size: 18pt;
  color: white;
  font-weight: lighter;
}

#hero-btn {
  width: 30%;
}

/* -------------------------- */
/* -- iPad & iPhone Images -- */
/* -------------------------- */

#ipad-image {
  z-index: 1;
}

#iphone-image {
  z-index: 2;
  position: relative;
  left: 280px;
  bottom: 400px;
}

/* -------------------------- */
/* ----- About Section ------ */
/* -------------------------- */

#about-tagline {
  display: flex;
  justify-content: center;
  font-size: 44pt;
  color: #89b8ea;
  margin-top: 30px;
  margin-bottom: 10px;
}

#about-text {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
}

#about-icons {
  display: flex;
  justify-content: center;
}

/* -------------------------- */
/* ---- Careers Section ----- */
/* -------------------------- */

#careers-image {
  margin-top: 50px;
  width: 100%;
  position: absolute;
  z-index: -3;
}
#grey-career-tint-1 {
  margin-top: 50px;
  width: 100%;
  position: absolute;
  z-index: -2;
}

/* #grey-career-tint-2 {
    margin-top: 50px;
    width: 100%;
    position: absolute;
    z-index: -1
  } */

#careers-text {
  color: #ffffff;
  font-size: 44pt;
  display: flex;
  justify-content: center;
  position: relative;
  top: 180px;
}

#careers-btn {
  position: relative;
  top: 160px;
  left: 550px;
  display: flex;
  justify-content: center;
  width: 20%;
}

/* -------------------------- */
/* ----- Video Section ------ */
/* -------------------------- */

.video {
  display: flex;
  justify-content: center;
  position: relative;
  top: 300px;
}

/* -------------------------- */
/* ------ Map Section ------- */
/* -------------------------- */

.map {
  position: relative;
  top: 400px;
}

/* #map-image {
  width: 100%;
} */

#map-location-box {
  position: relative;
  bottom: 450px;
  left: 150px;
}

#map-box-text {
  width: 250px;
  height: 300px;
  position: relative;
  bottom: 350px;
  left: 30px;
  color: white;
}

#map-box-tagline {
  font-size: 30pt;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* -------------------------- */
/* ----- Form Section ------- */
/* -------------------------- */

.contact {
  position: relative;
  bottom: 250px;
}

#form-tagline {
  display: flex;
  justify-content: center;
  font-size: 44pt;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #89b8ea;
}

#form-text {
  display: flex;
  justify-content: center;
  font-size: 20pt;
  font-weight: lighter;
  margin-top: 0px;
}

.form-line {
  display: flex;
  justify-content: center;
}

#form-name-input {
  width: 400px;
  height: 45px;
  font-size: 20pt;
  font-weight: lighter;
  margin-right: 13px;
  margin-bottom: 30px;
}

#form-email-input {
  width: 400px;
  height: 45px;
  font-size: 20pt;
  font-weight: lighter;
  margin-left: 13px;
  margin-bottom: 30px;
}

#form-superpower-input {
  width: 830px;
  height: 45px;
  font-size: 20pt;
  font-weight: lighter;
  margin-bottom: 30px;
}

#form-message-input {
  width: 830px;
  height: 225px;
  font-size: 20pt;
  font-weight: lighter;
}

#form-submit-btn {
  background-color: Transparent;
  border: 1px solid #808080;
  font-size: 14pt;
  font-weight: lighter;
  margin-top: 30px;
  width: 165px;
  height: 40px;
}

/* -------------------------- */
/* ----- Text and Fonts ----- */
/* -------------------------- */

.helvetica {
  font-family: Helvetica, sans-serif;
  /* font-weight: lighter; */
}

.adelle {
  font-family: adelle, sans-serif;
}

.text-white {
  color: rgb(255, 255, 255);
}
